/*index.html*/

body {
  margin: 0;
  font-family: Arial;
  background: #f5efe7;
}

header {
  background: #5c3a2e;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.hero {
  height: 200px;
  background: #e6d3c3;
  margin: 20px;
  border-radius: 8px;
}

.card {
  background: #dcc7b4;
  margin: 20px;
  padding: 40px;
  text-align: center;
  border-radius: 8px;
}

.card a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

footer {
  background: #5c3a2e;
  color: white;
  text-align: center;
  padding: 70px;
}

/*menu/nav*/
.menu {
  display: flex;
  gap: 20px;
  align-items: center;
}
.menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.exercise {
  background: #dcc7b4;
  margin: 15px 20px;
  padding: 20px;
  border-radius: 8px;
  font-weight: bold;
}
.exercise-container {
  margin-top: 20px;
}
